body {
    background: url(imagens/fundo.png) rgb(209,209,201);
    font: 16px Arial, Helvetica, sans-serif;
}
#principal {
    width: 67.4%;
    margin-left: 16.4%;
}
#menu{
    text-align:left;
    color: rgb(140,107,160);
    background-color: rgb(209,209,201);
    padding: 20px;
}
#descricao {
    text-align: justify;
    padding: 10px;
    background-color: white;
}
.imagens {
    border: solid 10px #DDDDDD;
}
h3{
    color: #4E5666;
}
a{
    
    text-decoration: none;
    font-weight: bold;
    padding: 7px;
}
    a:link {
        color: #445566;
    }
    a:visited {
        color: #112233;
    }
    a:hover{
        color: 8899AA;
    }
.centralizar{
    text-align: center;
}